# ============================================================
# BANKING FRAUD ANALYTICS - GITIGNORE
# ============================================================


# ------------------------------------------------------------
# Python
# ------------------------------------------------------------

__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
venv/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/


# ------------------------------------------------------------
# Environment / Secrets
# ------------------------------------------------------------

.env
.env.*
!.env.example

# Credentials
*.pem
*.key
secrets.json
credentials.json


# ------------------------------------------------------------
# Jupyter
# ------------------------------------------------------------

.ipynb_checkpoints/


# ------------------------------------------------------------
# Large Generated Transaction Data
# ------------------------------------------------------------

data/transactions.csv
data/transactions_with_fraud_scenarios.csv


# ------------------------------------------------------------
# PostgreSQL
# ------------------------------------------------------------

*.dump
*.backup
*.bak


# ------------------------------------------------------------
# Power BI temporary files
# ------------------------------------------------------------

~$*.pbix
*.pbit


# ------------------------------------------------------------
# VS Code
# ------------------------------------------------------------

.vscode/


# ------------------------------------------------------------
# Windows
# ------------------------------------------------------------

Thumbs.db
Desktop.ini


# ------------------------------------------------------------
# macOS
# ------------------------------------------------------------

.DS_Store


# ------------------------------------------------------------
# Logs
# ------------------------------------------------------------

*.log


# ------------------------------------------------------------
# Temporary files
# ------------------------------------------------------------

*.tmp
*.temp
*.swp